// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
//@import 'sencha-touch/default';
//@import 'sencha-touch/default/all';
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';
// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
/*** color ****/
$menu-btn-color: #000000;
$app-title-color: #000000;

/*** font size ****/ 
$title-font-size: 15px;
$btn-font-size: 20px;
$menu-font-size: 23px;
$toolbar-bg : #fff;



#homemenu{
	width: 50%;
    margin-top: 22%;

}
.homemenuitem{
	margin-top : 20px;
}
      .example-desc {
        margin:3px 0;
        padding:5px;
      }

      #carousel {
        width:960px;
        border:1px solid #222;
        height:300px;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#FFF;
      }
      #carousel img {
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
      }

      .split-left {
        width:450px;
        float:left;
      }
      .split-right {
        width:400px;
        float:left;
        margin-left:10px;
      }
      #callback-output {
        height:250px;
        overflow:scroll;
      }
      textarea#newoptions {
        width:430px;
      }

.welcomeviewcontainer{
  .x-panel-inner{ 
    background-image: url("images/welcomebg.png");
    background-repeat: no-repeat; 
    background-size: cover;  
  }; 
}

#homeviewcontainer{
     
    background-image: url("images/homebg.png");
    background-repeat: no-repeat; 
    background-size: cover;  
  
}

.homemenuitem{ 
      width: 410px;
    height: 92px;
    border: none; 
}

 .history{
             
       
            background-image: url("images/chinese_history_btn.png");
           background-repeat: no-repeat;
           background-size: cover;
           margin-top: 156px; 

    }

 .evolu{
             
        background-image: url("images/chinese_evolu_btn.png");
        background-repeat: no-repeat; 
        background-size: cover;  
        margin-left : 40px;

    }
  .art{
             
        background-image: url("images/chinese_art_btn.png");
        background-repeat: no-repeat; 
        background-size: cover;  
         margin-left : 80px;

  }

  #art_summary{

       width: 30%;
    text-align: right;
    padding: 30px;
    font-size: 30px

  }

    #art_summary{

       width: 30%;
    text-align: right;
    padding: 30px;
    font-size: 30px

  }

#art_list{
  
     width: 30%;
    margin-top: 30px;
    font-size: 30px;
}
.art_list_item{

    border: none;
    margin-top: 30px; 
    .x-button-label{  
      color: $menu-btn-color;
    }
} 
 


.dataview-item{
   width : 33.33%;
   height : 50%;
   border-right: 1px solid #000;
   border-bottom: 5px solid #59535E;
   float:left;   
   padding:2px;
}
 
.arHeadline{
    font-size: 16px;
    font-weight:bold;
    overflow:hidden;
    font-family: 'Museo Sans';
    color: #66ab16;
}
 
.arbyline{
    font-size:10px;
    font-style:italic;
    font-family: 'Museo Sans';
}
 
.arcontent{
    font-size:12px;
    font-family: 'Museo Sans';
    margin: 2px;
    overflow: hidden;
}
 
.artch-item{
      
    width: 150px;
    height: 200px;
    padding: 5px;
    img {

       width: 100%; 
       height :100%
    }
}
 .x-carousel-item  {
    
    width: 42%;
    height: 100%;

}
    .x-list .x-list-inner {
                width: auto;
            }
            .x-list-container {
                white-space: nowrap;
            }
            .x-list-item {
                display: inline-block;
            }
 

